@tailwind base;
@tailwind components;
@tailwind utilities;

/* html{
  font-size: calc(100vw / 1368 * 10);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-rendering: geometricPrecision;
}

html {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  font-family: "grotesk";

  @media screen and (min-width: 1024px) {
    font-size: calc(80vw / 1440 * 16);
  }

  @media screen and (min-width: 1450px) {
    font-size: 16px;
  }
}

@font-face {
  font-family: "grotesk";
  src: url("/fonts/MangoGrotesque-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "grotesk-bold";
  src: url("/fonts/MangoGrotesque-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: "grotesk-medium";
  src: url("/fonts/MangoGrotesque-Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: "grotesk-thin";
  src: url("/fonts/MangoGrotesque-Thin.otf");
  font-display: swap;
}

@font-face {
  font-family: "grotesk-light";
  src: url("/fonts/MangoGrotesque-Light.otf");
  font-display: swap;
}

@font-face {
  font-family: "satoshi";
  src: url("/fonts/Satoshi-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "manslava";
  src: url("/fonts/MansalvaRegular.ttf");
  font-display: swap;
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
  display: none;
}
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 4px;
  scroll-behavior: smooth;
  background: #8c8c8c;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid var(--chakra-colors-primary);
  height: 2px;
  background: linear-gradient(180deg, #131418 0%, #7b58d3 149%);
  display: none;
}

p {
  line-height: 140%;
}

h1 {
  font-family: "grotesk-bold";
  /* font-weight: 700 !important; */
}

h2 {
  font-family: "grotesk-medium";
  font-weight: 500 !important;
}

#home {
  background: ;
  background-image: url("/images/lineBackground.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("/images/static.png");
  z-index: 1;
}

#white-home {
  background: #ffff;
  background-image: url("/images/lineBackground.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

#white-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("/images/static.png");
  z-index: 1;
}

.button-dark {
  border: 2px solid white;
  color: white;
}

.slider {
  width: 100%;
  cursor: grab;
  align-self: center;
}

.slider-wrapper {
  white-space: nowrap;
}

/* .home-page {
  background: #182b2a;
  background-image: url("/images/Noise.png");

} */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

.marquee > div {
  flex-shrink: 0;
}

.toggler {
  position: absolute;
  top: -2rem;
}

@media screen and (min-width: 1020px) {
  .toggler {
    right: 20rem;
  }
}

button {
  position: relative;
  transition: all 0.35s;
  color: black;
}

button span {
  position: relative;
  z-index: 2;
}

button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #182b2a;
  transition: all 0.35s;
}

.dark-button {
  color: white;
  z-index: 10;
}

.dark-button:after {
  background: white;
}

button svg:after {
  fill: red !important;
}

button:hover {
  color: #fff;
  font-weight: 600;
}

.dark-button:hover {
  color: #151515 !important;
  font-weight: 600;
}

button:hover:after {
  width: 100%;
}

.slider {
  width: 100%;
  cursor: grab;
  align-self: center;
}

.slider-wrapper {
  white-space: nowrap;
  display: flex;
  align-self: center;
  align-items: center;
  gap: 4rem;
}

/* .slider-item {
  width: 40vw;
  padding: 3vw;
  display: inline-block;
  height: 30rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} */

.slider-progress {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  height: 0.1rem;
  width: 20rem;
  bottom: 2rem;
  background: #d1d5db; /* gray-300 */
}

.slider-progress-bar {
  height: 100%;
  background: #3b82f6; /* blue-500 */
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.slider-item {
  /* filter: grayscale(1) brightness(0.7);
  transition: filter 0.3s ease; */
}

.work-image-container {
  filter: grayscale(1) brightness(0.7);
  transition: filter 0.3s ease;
}

.work-image-container:hover {
  filter: grayscale(0) brightness(1);
}

.hover-image {
  transition: flex 0.5s, filter 0.5s;
  height: 100%;
  filter: grayscale(2) brightness(0.5);
  object-fit: cover;
  overflow: hidden;
  flex: 1;
  position: relative;
}

.hover-image:hover {
  cursor: pointer;
  filter: grayscale(0) brightness(1);
  box-shadow: 0px 1px #888888;

  flex: 3;
}

#jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: grayscale(2) brightness(1); */
  /* box-shadow: 5px 10px #888888; */
}

.hamburger path {
  fill: none;

  stroke-linecap: round;
}
